/* p {
  margin-top: 1em;
  margin-bottom: 0px;
} */

h1 {
  font-weight: var(--base-text-weight-semibold, 600);
  font-size: 2em;
  break-after: always;
  break-before: always;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 24px;
  margin-bottom: 0em;
  padding-bottom:0px;
  font-weight: var(--base-text-weight-semibold, 600);
  line-height: 1.25;
  color: red;
}

:is(h1,h2,h3,h4,h5,h6) + * {
  margin-top: 1em;
}

:is(h1,h2,h3,h4,h5,h6) + p:has(em) {
  margin-top: 0em;
}

h2 {
  font-weight: var(--base-text-weight-semibold, 600);
  font-size: 1.5em;
  border-bottom: 1px solid var(--borderColor-muted);
}

h3 {
  font-weight: var(--base-text-weight-semibold, 600);
  font-size: 1.25em;
}

h4 {
  font-weight: var(--base-text-weight-semibold, 600);
  font-size: 1em;
}

h5 {
  font-weight: var(--base-text-weight-semibold, 600);
  font-size: .875em;
}

h6 {
  font-weight: var(--base-text-weight-semibold, 600);
  font-size: .85em;
  color: var(--fgColor-muted);
}

blockquote>:first-child {
  margin-top: 0;
}

blockquote>:last-child {
  margin-bottom: 0;
}

h1 .octicon-link,
h2 .octicon-link,
h3 .octicon-link,
h4 .octicon-link,
h5 .octicon-link,
h6 .octicon-link {
  color: var(--fgColor-default);
  vertical-align: middle;
  visibility: hidden;
}

h1:hover .anchor,
h2:hover .anchor,
h3:hover .anchor,
h4:hover .anchor,
h5:hover .anchor,
h6:hover .anchor {
  text-decoration: none;
}

h1:hover .anchor .octicon-link,
h2:hover .anchor .octicon-link,
h3:hover .anchor .octicon-link,
h4:hover .anchor .octicon-link,
h5:hover .anchor .octicon-link,
h6:hover .anchor .octicon-link {
  visibility: visible;
}

/*h1 tt,
h1 code,
h2 tt,
h2 code,
h3 tt,
h3 code,
h4 tt,
h4 code,
h5 tt,
h5 code,
h6 tt,
h6 code,*/
pre {
  padding: 1em !important;
  font-size: inherit;
}

code > div {
  padding: 0 !important;
}

summary h1,
summary h2,
summary h3,
summary h4,
summary h5,
summary h6 {
  display: inline-block;
}

summary h1 .anchor,
summary h2 .anchor,
summary h3 .anchor,
summary h4 .anchor,
summary h5 .anchor,
summary h6 .anchor {
  margin-left: -40px;
}